{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1 style="text-align:center;">{{'create'|trans}}</h1>

    {{ include('article/_form.html.twig') }}

{% endblock %}
