{% extends 'base.html.twig' %}

{% block title %}{{'catch'|trans}}{% endblock %}

{% block body %}
    <h1>{{'edit'|trans}}</h1>

    {{ include('cours/_form.html.twig', {'button_label': 'edit'|trans}) }}

    {{ include('cours/_delete_form.html.twig') }}
{% endblock %}
